.userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  .userContainerLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    .userPhoto {
      width: 50px;
      height: 50px;
      background-color: #f5f5f5;
      border-radius: 50%;
    }
  }
  .userContainerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
  }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
  .userContainer {
    .userContainerLeft {
      width: 25%;
    }
    .userContainerRight {
      width: 30%;
    }
  }
}
@media screen and (min-width: 1025px) {
  .userContainer {
    box-shadow: 0px 3px 6px #00000029;
    width: 230px;
    display: block;
    padding: 10px;
    border-radius: 10px;
    // margin-bottom: 15px;
    .userContainerLeft {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      width: 50%;
      // .userPhoto {
      //   width: 50px;
      //   height: 50px;
      //   background-color: #f5f5f5;
      //   border-radius: 50%;
      // }
    }
    .userContainerRight {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      float: right;
      width: 50%;
    }
  }
}
