.container {
  height: 100vh;

  .header {
    width: 100%;
    background-color: #7ab3de;
    padding-bottom: 20px;

    .headerInner {
      min-width: 374px;
      // max-width: 768px;
      margin: 0 auto;
      nav {
        ul {
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 16px 0;
          margin: 0;

          li {
            color: #fff;
            padding: 0;
            margin: 0;
            a {
              text-decoration: none;
              color: #fff;
            }
          }

          li:first-child {
            padding-left: 16px;
          }

          li:last-child {
            padding-right: 16px;
          }
        }
      }
    }
  }

  .headerCardContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }

  .headerCard {
    width: 48%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 10px 0;

    .headerCardInner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85%;
      margin: 0 auto;
      .photo {
        background-color: #f8a096;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .profileInfoContainer {
        .name {
          font-size: 12px;
          color: #334e79;
        }
        .status {
          font-size: 13px;
          color: #707070;
        }
      }
    }
  }

  .mainContainer {
    width: 90%;
    margin: 0 auto;

    .filterContainer {
      .searchInput {
        width: 100%;
        height: 40px;
        margin: 10px 0 16px;
        input.textInput {
          width: 100%;
          border: 1px solid #bebebe;
          padding: 17px;
          box-sizing: border-box;
          border-radius: 20px;
        }
        input.textInput::placeholder {
          font-size: 12px;
        }
      }

      .buttonContainer {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #f5f5f5;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
  .container {
    .header {
      .headerInner {
        width: 70%;
      }
    }
    .mainContainer {
      width: 70%;
    }
  }
}
@media screen and (min-width: 1025px) {
  .container {
    .header {
    }
    .mainContainer {
      .filterContainer {
        display: flex;
        justify-content: start;
        .searchInput {
          width: 40%;
          // height: 40px;
          // margin: 10px 0 16px;
          input.textInput {
            // width: 100%;
            // border: 1px solid #bebebe;
            padding: 10px 32px;
            // box-sizing: border-box;
            // border-radius: 20px;
          }
          input.textInput::placeholder {
            font-size: 12px;
          }
        }

        .buttonContainer {
          // display: block;
          justify-content: space-between;
          border-bottom: 1px solid #f5f5f5;
          margin-bottom: 10px;
          margin-top: 10px;
        }
      }

      .userCardContainer {
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }
}
